{% extends 'base.html' %}

{% block content %}
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/213f11f7-b47f-4f5c-b394-1bc1e6d41f48/de1x179-9d6a9750-4922-4299-91af-a24cd064bf69.png/v1/fill/w_256,h_256,strp/shiny_lugia__shuffle__by_noodnood966_de1x179-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjU2IiwicGF0aCI6IlwvZlwvMjEzZjExZjctYjQ3Zi00ZjVjLWIzOTQtMWJjMWU2ZDQxZjQ4XC9kZTF4MTc5LTlkNmE5NzUwLTQ5MjItNDI5OS05MWFmLWEyNGNkMDY0YmY2OS5wbmciLCJ3aWR0aCI6Ijw9MjU2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ebAhQe1XPdxmaNlqnWZBvAKG1eDl8GHqDKhf5OcGWiU" alt="">
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='username', autocomplete='off') }}
        
        {{ form.password(class='form-control', placeholder='password', autocomplete='off') }}
       
        {{ form.submit(class='btn btn-primary') }}
    </form>
{% endblock %}

